@model MVC_Cv.Models.Entity.TblSertifika

@{
    ViewBag.Title = "SerftifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3 class="card-title" style="font-size:30px"><b>SERTİFİKA EKLEME SAYFASI</b></h3>
<br />
<br/>
<form method="post">

    @Html.Label("Sertifika ")
    @Html.TextBoxFor(x => x.Sertifikalar, new { @class = "form-control" })
    <br />
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    <button class="btn btn-danger">Ekle</button>
    
</form>
